# Ignore node_modules in the root/main folder
node_modules/

# Ignore node_modules in the frontend folder
ysocial-blog-app/node_modules/

# Ignore node_modules in the backend folder
backend/node_modules/